<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost/ArpaShelf2</property>
        
        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
        
        <property name="connection.username">root</property>
        <property name="connection.password">nrt</property>
        
        <!-- C3P0 connection pool provider --> 
	    <property name="hibernate.c3p0.min_size">5</property>
	    <property name="hibernate.c3p0.max_size">20</property>
	    <property name="hibernate.c3p0.max_statements">50</property>
	    <property name="hibernate.c3p0.timeout">129600</property> <!-- 36 hours -->
	    <property name="hibernate.c3p0.idle_test_periods">600</property> <!-- 10 minutes --> 
        
        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
        <property name="show_sql">true</property>
        
        <property name="hibernate.hbm2ddl.auto">update</property> 
        
        <mapping class="it.puglia.arpa.arpashelf.hbm.ApplicazioneExt"/>
        <mapping class="it.puglia.arpa.arpashelf.hbm.Account"/>
        <mapping class="it.puglia.arpa.arpashelf.hbm.Cartella"/>
        
        <!-- arpamip -->
        <mapping class="it.puglia.arpa.arpashelf.arpamip.hbm.Verifica"/>
        
        
        
    </session-factory>

</hibernate-configuration>
